@import url('https://unpkg.com/bulma@0.8.0/css/bulma.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url('./helpers.css');
body{
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #daf1f1 !important;
  color: #363636;
}
.navbar-item img{
    max-height: 3rem !important;
}
.navbar{
    background-color: #daf1f1 !important;
}
.self-aligned-center{
    align-self: center !important;
}
.justify-text{
    text-align: justify !important;
}
.about{
    align-items: center !important;
}
.login-image{
    width: 500px;
}
.input{
    width: 350px;
}
.control{
    text-align: center;
}
.login-container{
    height: 100vh;
}
.justify-content-center{
    justify-content: center !important;
}
.login-icon{
    margin-left: 10px;
}
.navbar-link:hover{
    background-color: #daf1f1;
    color: #363636
}
.navbar-dropdown{
    background-color: #daf1f1 !important;
    color: #363636
}
.navbar-divider{
    background-color: #363636
}
.level-icon{
    height: 80px;
    margin-bottom: 20px;
}
.hero{
    background-image: linear-gradient(to right, #5B86E5, #36D1DC);;
}
.status-chip{
    cursor: initial !important;
}
.profile-image{
    height: 250px
}
.job-image{
    height: 100px;
    text-align: center
}
.ongoing-card{
    padding: 1rem;
    border-radius: 10px
}
.ongoing-title{
    padding: 1rem;
    background-color: #48c774 !important;
    color: white !important
}



@media
only screen and (max-width: 770px) {
  table, thead, tbody, th, td, tr {
    display: block;
    background-color: #daf1f1;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #ccc;  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 200px;
    margin-left: 150px;
  }
  td:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 200px;
    padding-right: 40px;
    white-space: nowrap;
    margin-left: -150px;
  }
  td:nth-of-type(1):before { content: "Request No."; }
  td:nth-of-type(2):before { content: "Item Category"; }
  td:nth-of-type(3):before { content: "Sub Category"; }
  td:nth-of-type(4):before { content: "Address"; }
  td:nth-of-type(5):before { content: "Province"; }
  td:nth-of-type(6):before { content: "Time";}
  td:nth-of-type(7):before { content: "Date";}
  td:nth-of-type(8):before { content: "Status";}
}

@media
only screen and (max-width: 946px) {
    .dashbody{
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 1rem;
    }
}